@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Buscador de contenido*/

#ctn-icon-search {
    position: absolute;
    right: 22%; /* Usa porcentajes en lugar de px para el posicionamiento a la derecha */
    top: 2.5%; /* Usa porcentajes en lugar de px para el posicionamiento superior */
    z-index: 99;
    display: flex;
    align-items: center; /* Asegúrate de centrar el icono verticalmente si estás usando altura */
    justify-content: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: #777777;
    cursor: pointer;
}

#ctn-icon-search i:hover{
    color: #46a2fd;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #010a1d;
    padding: 20px;
    z-index: 8;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    border-radius: 7px;
    width: 1100px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

#carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

#carrito:hover {
    background-color: #ccc;
}

#carrito img {
    width: 20px;
    height: auto;
}

#carrito-numero {
    font-weight: bold;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }

    #ctn-icon-search {
        right: 5%; /* Menos margen a la derecha para pantallas más pequeñas */
        top: 2.5%; /* Menos margen superior para pantallas más pequeñas */
    }

    #ctn-icon-search i {
        font-size: 1.2rem; /* Tamaño de fuente más pequeño para iconos en pantallas más pequeñas */
    }
}





@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }

    .container-aside{
        flex-wrap: wrap;
    }

    #ctn-icon-search {
        right: 27px; /* Posición fija a la derecha para evitar que se salga de pantallas muy pequeñas */
        top: 27px; /* Posición fija en la parte superior para pantallas muy pequeñas */
    }

    #ctn-icon-search i {
        font-size: 1rem; /* Tamaño de fuente aún más pequeño para iconos en pantallas muy pequeñas */
    }
}
