

.carrusel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.producto {
    width: 150px;
    height: 350px;
    /*min-width: calc(100% / 10);
    box-sizing: border-box;*/
    padding: 10px;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:#ccc; 
    padding:10px; 
    border:none; 
    cursor:pointer
}

.flecha:hover{
    background-color:#ddd
}

.izquierda { left: 10px; }
.derecha { right: 10px; }

.indicador-pagina{
    color:#5f5f5f; 
    position:absolute; 
    top:15px; 
    right:50px
}

.titulo-carrusel {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

.imagen-libro {
    width: 100%;
    height: auto;
}

.titulo-libro {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.autor-libro {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #666;
    margin-top: 2px;
}

.calificacion-libro {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.estrella {
    width: 12px;
    height: 12px;
    fill: #FFD700;
    margin-right: 2px;
}

.votos-libro {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #00F;
    margin-left: 5px;
}

.edicion-libro {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    margin-top: 5px;
}

.precio-libro {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}
