.TiendaDeTarjetas {
    margin-top: 20px;
    max-height: 169px;
    max-width: 1024px;
}
.TiendaDeTarjetas img {
    margin: auto;
}

.boton-personalizado {
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    width: 240px;
    height: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
        
.boton-personalizado:hover {
    background-color: black;
    color: white;
}
