* {
    box-sizing: border-box;
    margin: 0;
}

.carrusel-contenedor {
    height: 1300px;

}

.img-wrapper {
    position: relative;
    max-width: 100%;
    height: 50%;


}

.imagenes {
    display: flex;
    height: 1300px;
    overflow-x: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0.1rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

}

.imagenes img {
    flex: 1 0 100%;
    height: 800px;
    scroll-snap-align: start;
    object-fit: cover;

}

.img-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    width: 100%;

    justify-content: space-between;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.img-nav:hover {
    opacity: 1;

}

.img-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


    opacity: 0.75;
    transition: opacity ease 250ms;


}

.prev {
    font-size: 100px;



}

.next {

    font-size: 100px;

}

.between {
    flex: 1 0 80%;
}

.separador-carrusel {
    height: 0px;
    width: 100%;
}
.carrusel-contenedor, .imagenes {
    height: 800px; /* Ajustado desde 1300px, ajusta según necesites */
}

.imagenes img {
    height: 600px; /* Ajustado desde 800px, ajusta según necesites */
}
