

@import url('https://fonts.googleapis.com/css2?family=Officina+Sans:wght@700&display=swap');

body {
  font-family: 'Officina Sans', sans-serif; 
}
/*otra parte*/
.carousel-histbusq-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .carousel-histbusq {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 450px;
    flex-wrap: nowrap;
    position: relative;

  }

  .carousel-histbusq-item {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 200px;
    height: 400px;
    margin-right: 50px;
    position: relative;

  }

  .carousel-histbusq-item img:hover {
    transform: scale(1.1);
    /* Cambia el tamaño al hacer hover */
  }

  .carousel-histbusq-item img {
    width: 100%;
    height: 230px;
    transition: transform 0.8s ease;
  }

  .carousel-histbusq-text {
    color: black;
    text-align: center;
    position: relative;
  }


  .carousel-histbusq-line {
    position: absolute;
    margin-top: 112.5px;
    margin-left: 47%;
    width: 1650%;
    height: 15px;
    background-color: rgb(238, 238, 238);
  }

  /* Estilos para los botones de flecha */
  .carousel-histbusq-controls {
    background-color: white;
    border-color: #b4b4b4;
    font-size: x-large;
    height: 100px;
    width: 50px;
    border-radius: 5%;
    cursor: pointer;

  }

  /*Texto promo*/
  .container { width: 200px;  padding: 5px; text-align: center;
 }
 .price { font-size: 24px; font-weight: bold;
}
.discounted-price {
    text-decoration: line-through; color: gray; }

.promocion{
    color: #ff0000;
    border-radius: 10px;
    border-top: 10px;;
}

.promocion_porcentaje{
  display: flex;
  position: absolute;
}
.promocion_caja{
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 10px;
  padding: 5px;
}