

.cdn-1{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.cdn-1 .blue{
    margin-bottom: 10px;
    color: darkcyan;
}

.cdn-1 .orange{
    color: chocolate;
}

.cdn-1 .on-line{
    display: flex;
}

.cdn-1 .on-line .blue{
    margin-right: 10px;
}

.cdn-1 .on-line .orange{
    margin-left: 10px;
}

.cdn-1 .center{
    text-align: center;
}

.cdn-1 .description{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cdn-1 .menu{
    margin-right: 20px;
}

.cdn-1 .div-menu{
    border-bottom: 1px solid #000;
}

.cdn-1 .subtittle{
    text-align: left;
}

.cdn-1 h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
}

.efecto-hover {
    color: initial; /* Establece el color inicial del texto */
    position: relative; /* Permite posicionar la línea con respecto al elemento */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Agrega una transición suave */
}

.efecto-hover:hover {
    color: black; /* Cambia el color del texto a negro al pasar el mouse sobre él */
    border-bottom: 2px solid orange; /* Agrega una línea de color naranja debajo del texto */
}

.cdn-2{
    padding-left: 20px;
    padding-right: 20px;
}

.cdn-2 h2{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

/*================================================*/

/* ===== SECCION ULTIMAS NOTICIAS ===== */
.ultimas_noticias{
    margin: 20px;
    padding: 0px;
    box-sizing: border-box;
}
.ultimas_noticias a{
    text-decoration: none;
    color: black;
}
.ultimas_noticias .card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ultimas_noticias .section{
    padding-left: 80px;
}
.ultimas_noticias h1{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    border-bottom: 5px solid #00c0a3;
    display: inline-block;
    margin-bottom: 20px;
}
.ultimas_noticias .card{
    border: none;
    width: 200px;
    overflow: hidden;    
    margin: 10px;
    box-shadow: none;
}
.card img{
    width: 80px;
    height: 110px;
    display: inline-block;
}
.card_content{
    padding: 15px;
}
.card_content .tittle_notice{
    margin: 0px;
    font-size: 18px;
    color: darkcyan;
}
.card_content .city {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 18px;
    margin: 0px;
    position: relative;
}
.card_content .city::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    border-bottom: 3px solid #ff8000;
}
.card_content .tittle_notice{
    padding-bottom: 10px;
}
.card_content p{
    margin: 0px;
    font-size: 15px;
    line-height: 1.3;
    color: gray;
}
.ultimas_noticias .btn{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.ultimas_noticias button{
    background-color: gold;
    cursor: pointer; 
    border-radius: 15px;
    width: 100%;
    padding: 3px;
}

.stars-container img{
    height: 15px;
    width: 60%;
}

.img-center{
    text-align: center;
}

.red{
    color: red;
}

  /* ===================================== */